body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: black;
  
}

header nav {
  background-color: orangered;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  background-color: orangered;
  padding-top: 0;
  display: flex;
  justify-content: space-around;
}
ul li a.brand-logo {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  /* color: #f13a59; */
}